<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1"/>
		<title>bitsgofer</title>
		<link rel="stylesheet" href="assets/css/mini.min.css"/>
		<link rel="stylesheet" href="assets/css/prism.min.css"/>
	</head>
	<body>
		<header class="sticky">
			<a href="#" class="logo">exklm</a>
			<button>Home</button>
			<span>|</span>
			<button>About</button>
		</header>


		<div class="container" style="padding-left: 0.5rem; padding-top: 0.5rem;">
			<div class="row">
				<nav class="drawer col-md-4 col-lg-2">
					<a href="#"><h4 style="margin-left: 0;">Hello, world!</h4></a>
					<h4 style="margin-left: 0;">Catalog</h4>

					<a href="#">/home/</a>
					<a href="#" class="sublink-1">small-ideas/</a>
					<a href="#" class="sublink-1">distributed/</a>
					<a href="#" class="sublink-1">db/</a>
					<a href="#" class="sublink-1">data/</a>
					<a href="#" class="sublink-1">devops/</a>
					<a href="#" class="sublink-1">chaos/</a>
					</br>

					<a href="#">/opt/</a>
					<a href="#" class="sublink-1">Golang/</a>
					<a href="#" class="sublink-1">Kubernetes/</a>
					<a href="#" class="sublink-1">Beam/</a>
					<a href="#" class="sublink-1">PostgreSQL/</a>
					</br>

					<a href="#">/dev/null</a>
					</br>

					<a href="#">ls -alF</a>
				</nav>
				<div class="col-sm-12 col-md-8 col-lg-9" style="padding-left: 1rem;">
					{{.HTML}}
				</div>
				<div class="col-lg-1"></div>
			</div>
		</div>

		<footer>
			<p> Hello world!</p>
		</footer>

		<script type="text/javascript" src="assets/js/site.min.js"></script>
	</body>
</html>
